<extend name="./master"/>

<block name="title">员工列表</block>

<block name="desc">Employee Manage</block>

<block name="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">员工列表</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tbody>
                        <tr>
                            <th>员工号</th>
                            <th>员工名称</th>
                            <th>所属部门</th>
                            <th>职位</th>
                            <th>添加时间</th>
                            <th>操作</th>
                        </tr>
                        <foreach name="user_list" item="vo">
                            <tr>
                                <td>{$vo.user_no}</td>
                                <td>{$vo.user_name}</td>
                                <td>{$vo.department_name}</td>
                                <td>{$vo.position_name}</td>
                                <td>{$vo.created_at|date="Y-m-d H:i:s",###}</td>
                                <td>
                                    <if condition="$Think.session.UserData.department_id eq 1">
                                        <button data-id="{$vo.user_id}" class="btn btn-info btn-sm edit-btn">
                                            <i class="fa fa-edit"></i> 修改密码
                                        </button>
                                        <button data-id="{$vo.user_id}" class="btn btn-danger btn-sm del-btn">
                                            <i class="fa fa-trash"></i> 删除
                                        </button>
                                        <else/>
                                        无
                                    </if>
                                </td>
                            </tr>
                        </foreach>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    {$page}
                </div>
            </div>
            <!-- /.box -->
        </div>
    </div>

    <div class="modal fade" id="edit-modal" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">修改密码</h4>
                </div>
                <div class="modal-body">
                    <form role="form" id="edit-form">
                        <div class="box-body">
                            <div class="form-group">
                                <label>新密码</label>
                                <input type="password" name="password" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>确认密码</label>
                                <input type="password" name="password_confirmation" class="form-control">
                            </div>
                            <input type="hidden" name="user_id" id="edit-user-id">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="submit-edit-btn">修改</button>
                </div>
            </div>
        </div>
    </div>
</block>

<block name="script">
    <script>
        // 删除按钮click事件
        $('.del-btn').click(function () {
            var user_id = $(this).attr('data-id');
            $.post(
                "{:U('User/delete')}",
                {user_id: user_id},
                function (res) {
                    if (res.status == 1) {
                        location.reload();
                    } else {
                        alert(res.msg);
                    }
                },
                'json'
            );
        });

        // 修改密码按钮click事件
        $('.edit-btn').click(function () {
            var user_id = $(this).attr('data-id');
            $('#edit-user-id').val(user_id);
            $('#edit-modal').modal('show');
        });

        // 关闭modal清空form
        $('#edit-modal').on('hidden.bs.modal', function (e) {
            $('#edit-form input').each(function () {
                $(this).val('');
            });
        })

        // 修改按钮click事件
        $('#submit-edit-btn').click(function () {
            $.post(
                "{:U('User/editPassword')}",
                $('#edit-form').serialize(),
                function (res) {
                    if (res.status == 1) {
                        $('#edit-modal').modal('hide');
                    }
                    alert(res.msg);

                },
                'json'
            );
        });
    </script>
</block>